.layout-container {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.layout-main {
  flex: 1;
  margin-left: 260px; /* Width of sidebar */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  transition: margin-left 0.3s;
}

.layout-content {
  flex: 1;
  overflow-y: auto;
  position: relative;
}

@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
  }
  .layout-main {
    margin-left: 0;
  }
}
